/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-sp-first {
	border: 1px dotted #f00;
}

.sp-wrapper {
	text-align: center;
	padding-bottom: 3rem;

	.block-editor-inner-blocks {
		width: max-content;
		margin: auto;
	}
}
